html,
body {
  padding: 0;
  margin: 0;
  background: yellow;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.blogData{
  margin: 5px auto;
  border-radius: 10px;
  width: 30%;
  display: flex-block;
  text-align: center;
  background-color: aqua;
  border: 2px solid red;
   
}

.nikal{
  height:40px
}